<div class="chat-box">
    <div class="contact-info"> Header Content</div>
    <div class="message-box">
        <ul>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
            <li>Hello World!!! </li>
        </ul>
    </div>
    <div class="chat-form">I am Footer
    </div>